.body {
    background-color: rgb(253, 253, 253);
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 20px;
    margin-bottom: 15px;
}

#main {
    margin-top: 43px;
    background-color: white;
    height: 320px;
    width: 365px;
    border: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input {

    border-style:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.input input {
    background-color:rgb(240, 240, 240);
    border-style:none;
    margin-top:7px;
    padding:7px;
    font-size:10px;
    width: 280px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.button {
    border-style: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    background-color: #B2DFFC;
    width: 283px;
}
.button button {
    border-radius: 4px;
    border-style: none;
}


.password a {
    text-decoration: none;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.password {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 17px;
}

::placeholder {
    color: #6e778b;
}

#main2 {
    font-size:15px;
    margin-top: 12px;
    background-color: white;
    height: 50px;
    width: 365px;
    border: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {

    padding-top: 10px;

}

.link a {
    text-decoration: none;

}
#appDowland {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:15px;
    margin-bottom:15px;
    font-size:13px;

}
.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer a{
    text-decoration: none;
    color:#6e778b;
    padding-left:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

#img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 200px;
}